{{!-- Creating template that renders to main layout via Handlebars --}}


<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid" style = "background-color: black; text-align:center">
  <div class="container" id= "jumbo">
    <h1>Eat The Burger</h1>
    <br>
    </div>
<!--Create New Burger -->
    <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Create A Burger:</label>
                    <input type="text" id="newburger" name="burger">
                    <button class= "btn btn-danger btn-sm" type="submit" id="addburger">Add my Burger </button>
                </div>
    </form>

</div>

<!--Burger Menu -->
<div class="container" id= "allburgers">
    <div class="row">

<!--Burgers Not Eaten -->
    <div class="col-sm-6 panel-heading"><h4 style = "text-align:center"><strong>Burgers Not Eaten</strong></h4>
                <div class="panel-body">
                <ul>
                    {{#each burgers}}
                        {{#unless devoured}}
                           <i class="fa fa-square"><span><strong> {{this.burger_name}} </strong> </span></i>
                            <button type="button" class="btn btn-success btn-sm pull-right eatbutton" onkeyup= "changeToUpperCase()" style= "font-size:16px"
                            data-id="{{this.id}}" data-newDevoured="{{devour}}"> Devour Burger</button>
                            <hr>
                        {{/unless}}
                    {{/each}}
                </ul>
                </div>
        </div>

<!--Burgers Devoured -->
    <div class="col-sm-6 panel-heading"><h4 style = "text-align:center"><strong>Burgers Devoured</strong></h4>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <i class="fa fa-square"><span><strong> {{this.burger_name}} </strong> </span></i>
                                <button class="btn btn-danger btn-sm pull-right remove" style= "font-size:16px"
                                data-id="{{this.id}}" data-newDevoured="{{devour}}"> Remove Guilt </button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>